.place__url-link {
    color: white;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-decoration: underline;
}

.place__url-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .place__url-link {
        margin: 0 16px;
        max-width: calc(100% - 32px);
    }
}