.cover {
    background-image: url(../../images/cover-trains.jpg);
    width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 1279px) {
    .cover {
        width: 100%;
        min-height: calc(100vw / 1.6);
    }
}