.place {
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: repeat(2, min-content);
    gap: 48px 40px;
    margin: 0 0 80px;
    width: 100%;
}

.place:last-of-type {
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px 456px;
        grid-template-rows: repeat(2, min-content);
        gap: 48px 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 352px;
        grid-template-rows: repeat(2, min-content);
        margin: 0 0 73px;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, min-content);
        margin: 0 0 50px;
        gap: 32px;
    }
}